<!DOCTYPE html>
<head>
    <title>Linkshrink - Shrink your URLs!</title>
</head>
<body>
    <form action="{{ url_for('index_route') }}" method="post">
        <p>Link to shrink:</p>
        <input type="url" name="target_url" placeholder="https://www.example.com/" value="{{ target_url }}" autocomplete="off" style="width: 300px">
        <input type="submit" value="Press to Shrink">

        <p>Shrunken link:</p>
        <input type="text" name="shrunk_url" placeholder="..." value="{{ shrunk_url }}" style="width: 300px" readonly>
    </form>    
</body>