* {
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 100%;
    width: 100%;
}

#alert-message {
    position: fixed;
    width: 100%;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.no-newline {
    display: inline;
}